$blue: #234699;

.gradient-background {
  font-size:26px;
  font-weight:700;
  //background: linear-gradient(
  //                90deg,
  //                #fbfcff,
  //                #c5c6ce,
  //                #a19fa6,
  //                #aaa8ad,
  //                #8d8a8d,
  //                #8a8585,
  //                #1d59c2,
  //                #706d6d,
  //                #a9a5a3,
  //                #c7c3c0,
  //                #e3dfdc,
  //                #e5e4e3,
  //                #ffffff
  //);

  background: linear-gradient(
                  90deg,
                  #050505,
                  #151515,
                  #1f1f1f,
                  #2a2a2a,
                  #3b3b3b,
                  #414141,
                  #8602ff,
                  #565555,
                  #383838,
                  #232323,
                  #212121,
                  #181818,
                  #000000
  );

  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-text-animation 3s alternate infinite;
}

/* Gradient Text Animation */
@keyframes gradient-text-animation {
  from {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

.p-component-overlay {
  background-color: rgba(18, 15, 40, 0.6);
  backdrop-filter: blur(5px);
  transition-duration: 0.2s;
}


$primary: #2700ff;
.premium_bg {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  cursor: pointer;

  //background: url('http://api.thumbr.io/whitenoise-354x370.png?background=ffffff00&noise=ffffff&density=40&opacity=4'), rgba(white, 0.01);
  transition: 0.5s ease-in-out;
  transition-property: background, text-shadow;

  backdrop-filter: blur(0.333em);
  border-radius: 1em;

  font-family: inherit;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  //box-shadow: inset 0 0.01em 0.4em rgb(154, 152, 152), inset 0 0.04em 0.18em rgba(203, 203, 211, 0.84), inset 0 0.98em 1em rgb(175, 102, 246), inset 0 -0.82em 0.68em -0.64em rgba(98, 9, 250, 0.3), inset 0 0.07em 0.11em -0.04em white, inset 0 0.39em 0.56em -0.36em rgba(255, 255, 255, 0.5);
  //
  //background: rgba($primary, 0.25);
  //text-shadow: 0 0.01em 0.2em rgba(lighten($primary, 32), 1),
  //0 0.01em 1em rgba(lighten($primary, 32), 1),;


  box-shadow: inset 0 0.01em 0.4em rgb(154, 152, 152), inset 0 0.04em 0.18em rgba(203, 203, 211, 0.84), inset 0 0.98em 1em rgb(99 93 106), inset 0 -0.82em 0.68em -0.64em rgb(3 2 3 / 30%), inset 0 0.07em 0.11em -0.04em white, inset 0 0.39em 0.56em -0.36em rgba(255, 255, 255, 0.5);
  background: rgb(0 0 0 / 22%);
  text-shadow: 0 0.01em 0.2em #201851, 0 0.01em 1em #b1a3ff;

  &:hover,
  &:focus {
    background: rgba($primary, 0.25);
    text-shadow: 0 0.01em 0.2em rgba(lighten($primary, 32), 1),
    0 0.01em 1em rgba(lighten($primary, 32), 1),;

    &:before {
      transform: translate3d(100%, 0, 0) scale3d(1, 1, 1);
    }
  }
}

.custom-progress-bar {
  height: 28px;
  border-radius: 14px;

  &.primary {
    .p-progressbar-value {
      background-color: var(--primary-500) !important;
    }
  }

  &.warning {
    .p-progressbar-value {
      background-color: var(--yellow-500) !important;
    }
  }

  &.danger {
    .p-progressbar-value {
      background-color: var(--red-500) !important;
    }
  }
}

.special-countTime {
  bottom: -20px !important;

  .button_content {
    color: #fff;
    background-color: $blue !important;
    border: 0;
  }
}