
body {
 padding:0px;
  margin: 0px;
  background-color: #181818;
}

.p-overlaypanel {
 background-color: #3B3B3A;
 border: 0
}

.p-overlaypanel:before {
 border-style: solid;
 border-color: transparent;
 border-bottom-color: #3B3B3A;
}

.p-overlaypanel:after {
 border-bottom-color: #3B3B3A;
}